@font-face {
    font-family: QuiteMagical;
    src: url("Quite Magical - TTF.ttf");
}
body {
    height: 100vh;
    margin: 0;
    width: 100%;
}
main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100%;
    margin: 0;
}
main div {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
#principal {
    grid-column: 1/4;
    background-color: rgb(255, 255, 0);
}
#principal a {
    background-color: rgb(255,255,255);
    border: 5px solid black;
    border-radius: 12px;
    font-family: QuiteMagical;
    font-size: 3em;
    font-weight: bold;
    padding: 30px;
}

#principal a span:nth-of-type(1) { color: red; }
#principal a span:nth-of-type(2) { color: green; }
#principal a span:nth-of-type(3) { color: blue; }

#red { background-color: rgb(255, 0, 0); }
#green { background-color: rgb(0, 255, 0); }
#blue { background-color: rgb(0, 0, 255); }

input[type=range] { -webkit-appearance: none; }
input[type=range]:focus { outline: none; }

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    height: 36px;
    width: 16px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    background-color: rgba(255,255,255,0.6);
}

@media (min-width: 700px) {
    #principal a
    {
        font-size: 4em;
    }
}
@media (max-width: 450px) {
    #principal a
    {
        font-size: 2em;
    }
}